<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Details</title>
    <link rel="stylesheet" href="../src/css/style.css">
    <link rel="stylesheet" href="../src/css/details.css">

</head>

<body>
    <div class="dBoxOverlay">
        <div class="dBoxCont">
            <div class="dBox" id="apply-dBox">
                <form action="submit">
                    <div class="applyFormHeader">
                        <h3>Personal Info</h3> <p onclick="closeDialogue('apply-dBox')">&times;</p>
                    </div>
                    <hr>
                    <input type="text" name="First Name" id="fname" placeholder="First Name">
                    <br>
                    <input type="text" name="Last Name" id="lname" placeholder="Last Name">
                    <br>
                    <input type="text" name="Contact Info" id="contactInfo" placeholder="Email or Phone Number">
                    <br>
                    <label for="cityOptions">Current City</label>
                    <select name="cityOptions" id="cityOptions">
                        <option value="value1">Cairo</option>
                        <option value="value2">Berlin</option>
                        <option value="value3">Washington</option>
                    </select>
                    <h3>Education</h3>
                    <hr>
                    <label for="degreeOptions">Your Highest level of education:</label>
                    <select name="degreeOptions" id="degreeOptions">
                        <option value="value1">High School</option>
                        <option value="value2">Bachelors</option>
                        <option value="value3">Masters</option>
                        <option value="value3">P.h.D</option>
                    </select>
                    <br>
                    <input type="text" name="uni" id="uni" placeholder="School Name">

                    <h3>Work Experience</h3>
                    <hr>
                    <input type="text" name="" id="prevEmployerName" placeholder="Employer Name">
                    <input type="number" placeholder="Years of Experience" min="0" id="YOE">
                    <input type="text" name="" placeholder="Job Description" id="prevJobDesc">
                    <hr>

                    
                    
                </form>
                <br>
                <button type="submit" class="btn" id="submitApplyBtn">Apply Now</button>
                <button class="btnSecondary" onclick="closeDialogue(this.parentElement.id)">Cancel</button>
            </div>

            <div class="dBox" id="errorDBox">
                    <div class="applyFormHeader">
                            <h3>Error</h3> <p onclick="closeDialogue('errorDBox')">&times;</p>
                        </div>
                        <hr>
                        <p>Couldn't apply for this job because we encountered the following error(s):</p>
                        <p id="errorMsg">Error Message</p>
                        <button class="btnSecondary" onclick="closeDialogue('errorDBox')">Close</button>
            </div>

            <div class="dBox" id="successDBox">
                    <div class="applyFormHeader">
                            <h3>Success</h3> <p onclick="closeDialogue('successDBox')">&times;</p>
                        </div>
                        <hr>
                        <p>Your application has been submitted successfully!</p>
                        <button class="btnSecondary" onclick="closeDialogue('successDBox')">Close</button>
            </div>
        </div>
    </div>
   <div class="titleBar">
        <a href="landing.html">
            <img src="../src/img/talentsy.png" width="250">
        </a>
        <div class="tbLeftCont">
            <a class="titleBarLink" href="jobs.html" id="jobs-link">Find Jobs</a>
            <a class="titleBarLink" href="My jobs.html" id="my-jobs-link">My Jobs</a>
            <a class="titleBarLink" href="admin-dashboard.html" id="admin-dashboard-link">My Job Posts</a>
            <a class="titleBarLinkEnd" href="add-job.html" id="post-job-link">Post a Job</a>
        </div>
        <div class="tbRightCont">
            <a href="../layouts/Login_register.html" id="login-link">
                 <button class="btn">Sign-Up</button>
            </a>
            <button id="btn-logout" class="btnSecondary" onclick="logout()">Logout</button>
        </div>
        
    </div>
    <div class="container">
        <h1 class="jobTitle" id="jobTitle">
            Senior Frontend Developer
        </h1>
        
        <div class="subInfoCont">
            <div class="subInfoItem">
                <img src="../src/img/company_ico_symbolic.png" alt="" width="20">
                <p id="companyName" class="subInfoText">
                    Google Inc.
                </p>
            </div>

            <div class="subInfoItem">
                <img src="../src/img/time_ico_symbolic.png" alt="" width="20">
                <p id="workingHours" class="subInfoText">
                    Full Time
                </p>
            </div>

            <div class="subInfoItem">
                <img src="../src/img/date_ico_symbolic.png" alt="" width="20">
                <p id="jobDate" class="subInfoText">
                    2026/8/12
                </p>
            </div>
        </div>
        <hr>
        

        <div class="jobDescCont" id="jobDescCont">
            <p>Job Description:</p>
            <p>We are looking for a Frontend Developer to join our team</p>
        <h4>Key Responsibilities</h4>
        <ul>
            <li>Develop User Interfaces: Create, maintain, and modify web application front-end code using HTML, CSS, and JavaScript/TypeScript.</li>
            <li>Implement Designs: Translate UI/UX design wireframes into high-quality, functional, and responsive code.</li>
            <li>Optimize Performance: Optimize web applications for maximum speed, scalability, and performance across various browsers and devices</li>
            <li>Collaboration: Work closely with backend developers, UI/UX designers, and product managers to ensure a cohesive user experience.</li>
            <li>Testing and Debugging: Identify and resolve bugs, issues, and browser compatibility issues. </li>
        </ul>
        <h4>Required Skills and Qualifications</h4>
        <ul>
            <li>Technical Proficiency: Expert-level knowledge of HTML5, CSS3, and JavaScript.</li>
            <li>Frameworks: Experience with modern front-end frameworks and libraries such as React.js, Angular, or Vue.js.</li>
            <li>Responsive Design: Deep understanding of mobile-first, responsive design principles.</li>
            <li>Tools: Familiarity with version control systems (e.g., Git), build tools (e.g., Webpack), and browser developer tools.</li>
            <li>Concepts: Knowledge of web accessibility standards (WCAG) and API integration.</li>
        </ul>
        </div>
        <button class="btn" id="openApplyBtn">Apply</button>
    
    <script src="../src/js/env.js"></script>
    <script src="../src/js/utils.js"></script>
    <script src="../src/js/job-details.js"></script>
    <script src="../src/js/roles.js"></script>
</body>

</html>
