{% load static%}
<html>
<head>
    <title>Job Search - Jobs</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/jobs.css'%}">
</head>

<body>
    <div class="titleBar">
        <a href="{% url 'landing' %}">
            <img src="{% static 'img/talentsy.png'%}" width="250">
        </a>
        <div class="tbLeftCont">
            <a class="titleBarLink" href="{% url 'jobs' %}" id="jobs-link">Find Jobs</a>
            <a class="titleBarLink" href="{% url 'my-jobs' %}" id="my-jobs-link">My Jobs</a>
           <!-- for testing -->
            <a class="titleBarLink" href="{% url 'jobs' %}" id="admin-dashboard-link">My Job Posts</a>
            <a class="titleBarLinkEnd" href="{% url 'add-job' %}" id="post-job-link">Post a Job</a>
        </div>
        <div class="tbRightCont">
            <a href="{% url 'login-register_page' %}" id="login-link">
                 <button class="btn">Sign-Up</button>
            </a>
            <button id="btn-logout" class="btnSecondary" onclick="logout()">Logout</button>
        </div>
        
    </div>

    <div class="container">
        
        <div class="search-container">
            <h1>Find Your Dream Job</h1>
            
            <form id="searchForm">
                <input type="text" id="searchID" placeholder="Enter Job title">
                <input type="number" id="searchexp" placeholder="Years of Experience">
                <button type="submit" id="srch">Search Now</button>
            </form>
        </div>

        <hr style="margin: 40px 0; border: 0; border-top: 1px solid #ddd;">
        
        <h2 class="uCenter" style="margin-bottom: 30px; color: #1a237e;">All Available Jobs</h2>
        
        <div id="jobList">
            </div> 
    </div>

    <script src="{% static 'js/utils.js'%}"></script> 
    <script src="{% static 'js/jobs.js'%}"></script>
    <script src="{% static 'js/roles.js'%}"></script>
</body>
</html>
