<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Talentsy</title>
    <link rel="stylesheet" href="../src/css/style.css">
    <link rel="stylesheet" href="../src/css/landing.css">
</head>
<body>
    <div class="titleBar">
        <a href="landing.html">
            <img src="../src/img/talentsy.png" width="250">
        </a>
        <div class="tbLeftCont">
            <a class="titleBarLink" href="jobs.html">Find Jobs</a>
            <a class="titleBarLinkEnd" href="add-job.html">Post a Job</a>
        </div>
        <div class="tbRightCont">
            <button class="btn">Register</button>
            <button class="btnSecondary">Login</button>
        </div>
        
    </div>

    <div class="hero">
        <div class="heroLeft">
            <h1 class="heroLeftText">Find Your Dream Job Now</h1>
            <p class="heroLeftPara">Start your new adventure today.</p>
            <br>
            <p class="heroLeftPara">Explore top oppurtonities in all industries!</p>
            <br>
            <div class="heroLeftBtnCont">
                <button class="landingBtn">Browse Now</button>
                <button class="landingBtnSecondary">Find Talent</button>
            </div>
            
        </div>
        <div class="heroRight">
            <img src="" alt="">
            
        </div>
    </div>
    <div class="hero2">
        <div class="heroCard card3">
            <div class="heroCardItem">
                <img src="../src/img/job_ico.png" width="50px">
                <p>150k+ Job Postings</p>
            </div>
            <div class="heroCardItem">
                <img src="../src/img/company_ico.png" width="50px">
                <p>10k+ Verified Companies</p>
            </div>

            <div class="heroCardItemEnd">
                <img src="../src/img/worker_ico.png" width="50px">
                <p>600k+ Job Seakers</p>
            </div>
            
        </div>
    </div>
    
</body>
</html>