<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login & Register</title>
    <link rel="stylesheet" href="../src/css/Login_register.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>

    <div class="container" id="container">
        
        <div class="form-container sign-up-container">
            <form id="registerForm">
                <h1>Create Account</h1>

                <div class="social-container">
                    <a href="#"><i class="fab fa-google"></i></a>
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-github"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <span>or use your username for registration</span>
                
                <input id="regName" type="text" placeholder="Name" required>
                <input id="regEmail" type="username" placeholder="username" required>
                <input id="regEmaill" type="email" placeholder="Email" required>
                <input id="regPass" type="password" placeholder="Password" required>
                <input id="regConfirm" type="password" placeholder="Confirm Password" required>

                <div class="selection-group">
                    <label for="accountType">Account Type</label>
                    <select id="accountType" onchange="toggleCompanyField()">
                        <option value="user">Normal User</option>
                        <option value="admin">Company Admin</option>
                    </select>
                </div>

                <div id="companyField" style="display:none; width: 100%;">
                    <input id="companyInput" type="text" placeholder="Company Name">
                </div>

                <button type="submit">Sign Up</button>
            </form>
        </div>

        <div class="form-container sign-in-container">
            <form id="loginForm">
                <h1>Sign In</h1>
                <div class="social-container">
                    <a href="#"><i class="fab fa-google"></i></a>
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-github"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <span>or use your account</span>
                
                <input id="logEmail" type="username" placeholder="username" required>
                <input id="logPass" type="password" placeholder="Password" required>
                
                <a href="#" class="forgot-pass">Forgot Your Password?</a>
                <button type="submit">Sign In</button>
                <p id="login_OrNot"></p>

            </form>
        </div>

        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Welcome Back!</h1>
                    <p>Already have an account? Log in to stay connected.</p>
                    <button class="ghost" id="signInBtn">Sign In</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Hello, Devoloper</h1>
                    <p>Enter your details and start your journey with us.</p>
                    <button class="ghost" id="signUpBtn">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
    <script src="../src/js/auth.js"></script>
    <script src="../src/js/Login_register.js"></script>

</body>
</html>