<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Jobs</title>
    <link rel="stylesheet" href="..//src/css/style.css">
    <link rel="stylesheet" href="..//src/css/myJobs.css">
</head>
<body>
<div class="titleBar">
        <a href="landing.html">
            <img src="../src/img/talentsy.png" width="250">
        </a>
        <div class="tbLeftCont">
            <a class="titleBarLink" href="jobs.html" id="jobs-link">Find Jobs</a>
            <a class="titleBarLink" href="My jobs.html" id="my-jobs-link">My Jobs</a>
            <a class="titleBarLink" href="admin-dashboard.html" id="admin-dashboard-link">My Job Posts</a>
            <a class="titleBarLinkEnd" href="add-job.html" id="post-job-link">Post a Job</a>
        </div>
        <div class="tbRightCont">
            <a href="../layouts/Login_register.html" id="login-link">
                 <button class="btn">Sign-Up</button>
            </a>
            <button id="btn-logout" class="btnSecondary" onclick="logout()">Logout</button>
        </div>
        
    </div>
<div class="container">
    <h1 class="jobt">My Applied Jobs</h1>
</div>
<table class="container">
    <thead>
        <tr>
            <th>Job Title</th>
            <th>Company Name</th>
            <th>Application Date</th>
            <th>Job Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody id="application-table">
    </tbody>
</table>
<script src="..//src/js/my-jobs.js"></script> 
</body>
</html>