<!DOCTYPE html>
<html>
<head>
    <title>My Jobs</title>
</head>
<body>

<nav>
    <a href="index.html">Home</a> |
    <a href="jobs.html">Jobs</a> |
    <a href="Login_register.html">Logout</a>
</nav>

<h1>My Applied Jobs</h1>
<table border="1" width="50%" cellpadding="10">
    <thead>
        <tr>
            <th>Job Title</th>
            <th>Company Name</th>
            <th>Application Date</th>
            <th>Job Status</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Front End Developer</td>
            <td>Frontend ltd</td>
            <td>2026/8/12</td>
            <td>open</td>
            <td><a href="job-details.html" class="view-btn">View Details</a></td>
        </tr>
        <tr>
            <td>Back End Developer</td>
            <td>Frontend ltd</td>
            <td>2026/8/12</td>
            <td>open</td>
            <td><a href="job-details.html" class="view-btn">View Details</a></td>
        </tr>
        <tr>
            <td>Penetration Tester</td>
            <td>Frontend ltd</td>
            <td>2026/8/12</td>
            <td>open</td>
            <td><a href="job-details.html" class="view-btn">View Details</a></td>
        </tr>
        <tr>
            <td>Game Developer</td>
            <td>Frontend ltd</td>
            <td>2026/8/12</td>
            <td>open</td>
            <td><a href="job-details.html" class="view-btn">View Details</a></td>
        </tr>
    </tbody>
</table>
</body>
</html>