<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Jobs</title>
    <link rel="stylesheet" href="..//src/css/style.css">
    <link rel="stylesheet" href="..//src/css/myJobs.css">
</head>
<body>
<div class="titleBar">
    <a href="landing.html">
            <img src="../src/img/talentsy.png" width="250">
    </a>
    <div class="tbLeftCont">
        <a href="index.html" class="titleBarLink">Home</a>
        <a href="jobs.html" class="titleBarLink">Jobs</a>
        <a href="login.html" class="titleBarLinkEnd">Logout</a>
    </div>
</div>
<div class="container">
    <h1 class="jobt">My Applied Jobs</h1>
</div>
<table class="container">
    <thead>
        <tr>
            <th>Job Title</th>
            <th>Company Name</th>
            <th>Application Date</th>
            <th>Job Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody id="application-table">
    </tbody>
</table>
<script src="..//src/js/my-jobs.js"></script> 
</body>
</html>